* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.createStudent {
  font-size: 20px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px 12px;
  transition: all 0.5s ease;
}

.createStudent:hover {
  background-color: white;
  color: black;
}

.createStudent.active:hover {
  color: black !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #FFC107;
}

form.bg-light {
  padding: 20px 25px;
  margin-top: 105px;
  border-radius: 10px;
}

body {
  background: gainsboro;
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.studentListTitle,
.title {
  position: relative;
  padding-bottom: 7px;
  margin-top: 80px;
}

.studentListTitle:before,
.title:before {
  position: absolute;
  content: '';
  width: 70px;
  height: 3px;
  bottom: 0;
  background: #343a40;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link {
  color: black;
  font-size: 18px;
}

.nav-link:hover,
.nav-link:focus {
  color: black;
}

a.active {
  color: white !important;
  position: relative;
}

.btn-outline-warning {
  color: #ffa700;
  border-color: #ffa700;
}


a.studentListTitle.active:before {
  background-color: transparent;
}

.details {
  border-radius: 10px;
}

.btn-group>a.btn,
.btn-group>button.btn {
  border: 1px solid;
}

.btn-group>a.btn.view {
  border-color: #198754;
}

.btn-group>a.btn.edit {
  border-color: #0d6efd;
}

.btn-group>button.btn.delete {
  border-color: #dc3545;
}

.three-dot-menu {
  position: absolute;
  top: 22px;
  right: 28px;
}

.three-dot-menu:hover {
  cursor: pointer;
}

.dot-item {
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  background: black;
  display: block;
  margin: 3px 3px 3px 3px;
}

.editBtnGroup {
  position: absolute;
  right: -8px;
  top: 42px;
  display: none;
  flex-direction: column;
  align-items: flex-end;

}

.editBtnGroup.active {
  display: flex;
}

.editBtnGroup a,
.editBtnGroup button {
  font-size: 25px;

}

.editBtnGroup button {
  background-color: transparent;
  border: none;
  margin-right: 3px;
}

section {
  padding-bottom: 50px;
}

.title {
  margin-top: 20px;
}
.appTitle {
  text-decoration: none;
  color: #000;
}

.appTitle:hover,
.appTitle.active {
  color: #000 !important;
}

.statusProcessingShow {
  position: relative;
  font-size: 0px;
}

.statusProcessingShow::before {
  content: 'Processing...';
  font-size: 16px;
}

/*=================== Loader css ===================*/

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}