/*=========================== Responsive css ===========================*/



@media (max-width: 767px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    border-bottom: 1px solid #cecece;

  }

  .table td:last-child {
    border-bottom: none;
  }


  .table tr {
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px 0px #c1c1c1, -2px -2px 3px 0px #c1c1c1;
  }

  .table tbody tr td {
    text-align: right;
    position: relative;
  }

  .table tbody tr td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
  }

}

